{% extends 'base.html' %}



{% block contents %}
    {% if user.is_authenticated %}
    <!--user is authenticated-->

        {% if user.userextension.status == 1010 %}
        <!--USER_EXTENSION_USING_VERIFIED-->
            {% block user_extension_using_verified %}

            {% endblock %}

        {% elif user.userextension.status == 1020 %}
        <!--USER_EXTENSION_USING_NOT_VERIFIED-->
            {% block user_extension_using_not_verified %}

            {% endblock %}

        {% endif %}

    {% else %}
    <!--user is not authenticated-->
    {% endif %}

{% endblock %}
{% block extra_script %}
<script>

</script>
{% endblock %}